<%
const path = {
	home: 'https://www.law-yamashita.com/',
	css: 'https://www.law-yamashita.com/wp-content/themes/law-yamashita/assets/css/',
	svg: 'https://www.law-yamashita.com/wp-content/themes/law-yamashita/assets/svg/svg.svg#',
	js: 'https://www.law-yamashita.com/wp-content/themes/law-yamashita/assets/js/',
	img: 'https://www.law-yamashita.com/wp-content/themes/law-yamashita/assets/img/',
};
%>
<h2>離婚後の生活が心配な方へ </h2>
<h3>母子世帯で困っていることのトップは、「お金」</h3>
<p><img src="<%= path.img + 'after-support/after-support--graph.png'; %>" alt="母子世帯の84.8%が「お金」で困っている"></p>
<p>今の婚姻生活には耐えられないと思いつつ、一方で離婚後の生活での経済的不安から離婚を思いとどまっている人は少なくないでしょう。</p>
<p>現に、母子世帯で困っていることのトップは家計のことで、<span class="bg-line">84.8％が苦しい（大変苦しい49.5％、やや苦しい35.2％）</span>と感じていています。（<a href="http://www.mhlw.go.jp/toukei/saikin/hw/k-tyosa/k-tyosa13/dl/16.pdf" target="_blank">平成25年、国民生活基礎調査</a>）。<br>離婚後の生活設計は、離婚を考える上での避けては通れない関門なのです。</p>
<h3>「離婚後の家計シミュレーション」をご利用ください。</h3>
<div class="c-table bb5 border-charcoal">
	<div class="c-table-cell"><img src="<%= path.img + 'after-support/heading-01.jpg'; %>" alt="マネーバランス・ドクター®今井絵美のイラスト"></div>
	<div class="c-table-cell"><img src="<%= path.img + 'after-support/heading-02.jpg'; %>" alt="「離婚後の家計シミュレーション」で不安を解消しましょう。"></div>
</div>
<p>もし離婚した場合、その後の生活がどうなるのか、お金の専門家と一緒にシミュレーションができたら良いと思いませんか？離婚するにせよ、しないにせよ、その<span class="bg-line">決断を後押ししてくれる判断材料</span>があると心強いですよね。</p>
<p>山下江法律事務所では、離婚後の生活が心配な方のために、<a href="<%= path.home; %>members/今井絵美" ttile="マネーバランス・ドクター®" target="_blank">マネーバランス・ドクター®</a>による離婚後の家計シミュレーションを行っています。<br>具体的には、あなたがイメージしている離婚後の生活（衣・食・住・教育・老後など）をヒアリングし、老後までの収支状況を「見える化」します。そこから離婚後の課題を見つけ出し分かりやすくお伝えします。</p>
<h3>「家計シミュレーション」にはこんなメリットがあります。</h3>
<ol>
	<li>収支のバランスがとれていれば安心して離婚を決断できます</li>
	<li>収入が足りない場合，「いくら足りないか」が明確になるので慰謝料・養育費を考える上での判断材料にできます</li>
	<li>老後までの生活をイメージできるので，子どもの教育計画や仕事選びをする上での基準ができます</li>
	<li>母子（父子）家庭に対する公的扶助を把握できます</li>
</ol>
<p>このシミュレーションを行っていれば離婚後の大きな環境の変化にも落ち着いて対応できます。また，ご希望の方には，実際に離婚後の家計に「ゆとりを生む」ためのお手伝いも行っています。</p>
<p>この家計シミュレーションは弁護士による無料相談を受けていただいた方に限り特別価格でご提供しています。<br>目安時間　６０分　５０００円（税別）</p>
<p>これから起こるライフイベントに合わせて、いつ、どれくらいのお金が必要になるのかといった見通しが立てば、<span class="bg-line">周囲への説得</span>にもきっと役立ちます。<br>もちろん、シミュレーションの結果、経済的不安から今すぐに離婚するとこは難しいと判断されることもあるかもしれません。<br>しかし「いくら足りないのか」を把握できるので時間をかけて不足部分を準備するという選択も可能になります。</p>
<h3>法的な判断は、弁護士へ。<br>お金のことは、マネーバランスドクター®へ。<br>メンタルケア心理士®は気持ちの整理をサポートします！</h3>
<p>気持ちの整理にサポートが必要でしたら、山下江法律事務所には<a href="<%= path.home; %>members/濵西智子" title="メンタルケア心理士®" target="_blank">メンタルケア心理士®</a>も在籍しています。</p>

<p>山下江法律事務所は、離婚問題に真剣に悩む方のお力になれるのは弁護士だけだとは考えていません。人生における重大な決断の一つである離婚に悩まれている方が笑顔を取り戻せるようお力になれることはないか、常に所員全員で考えている事務所です。</p>

<p class="m1-auto text-center">まずは、弁護士と無料の法律相談をどうぞ！<br><a href="<%= path.home; %>contact/contact-rikon" class="button large" title="まずは、弁護士と無料の法律相談をどうぞ">弁護士へ相談する</a></p>
[link-supporter]
<p class="m1-auto text-center">まずは、弁護士と無料の法律相談をどうぞ！<br><a href="<%= path.home; %>contact/contact-rikon" class="button large" title="まずは、弁護士と無料の法律相談をどうぞ">弁護士へ相談する</a></p>